
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}


body {
  font-family: "Montserrat", Roboto, sans-serif;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  background-color: #faf9ff;
  scrollbar-width: none;
}


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


a {
  text-decoration: none;
  color: inherit;
}

